<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates-OLD/BasicTemplate.xhtml">
    <ui:define name="leftContent">
	    <ui:repeat value="#{searchBean.urlList}" var="url">
	    	<img src="#{url}" style="width:100%" onclick="onClick(this)"></img>
		</ui:repeat>
        
    </ui:define>
    
    <ui:define name="rightContent">
	    <ui:repeat value="#{searchBean.urlList}" var="url">
	    	<img src="#{url}" style="width:100%" onclick="onClick(this)"></img>
		</ui:repeat>
        
    </ui:define>

</ui:composition>
</html>






