<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    >

<f:view contentType="text/html">
<h:head>    
<title>Flickr - metadata-based reranking</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
<link rel="stylesheet" type="text/css" href="./resources/css/styly.css" />
</h:head>

<h:body class="w3-light-grey w3-content"  style="max-width:1600px">

<!-- Sidebar/menu =============================================================-->

<nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top" id="mySidebar"><br/>
 <h3 class="w3-padding-64 w3-center"><b>Flickr<br/>metadata-based reranking</b></h3>

 <h:form>
 	<h:inputText value="#{SearchBean.keyWord}" name="keyword" placeholder="Klíčové slovo"></h:inputText>
 	<h:commandButton value="Hledat" action="#{SearchBean.search}" />
 	<br/><br/>
  
  	<!-- GPS =============================================================-->
  	<h:selectBooleanCheckbox name="gpsCheck" value="#{SearchBean.gpsFlag}" />
  	GPS:<br/>
  	šířka stupně/min/sec:<br/>
  	<h:inputText id="GPSLatDegree" placeholder="LatitudeDegree" value="#{SearchBean.gpsLatDegree}" styleClass="gpsInput"/>
  	<h:inputText id="GPSLatMin" placeholder="LatitudeMin" value="#{SearchBean.gpsLatMin}" styleClass="gpsInput" />
  	<h:inputText id="GPSLatSec" placeholder="LatitudeSec" value="#{SearchBean.gpsLatSec}" styleClass="gpsInput" />
  	<h:selectOneMenu value="#{SearchBean.latitudeSelect}" styleClass="gpsSelect">
   		<f:selectItem itemValue="North" itemLabel="N" />
   		<f:selectItem itemValue="South" itemLabel="S" />
   	</h:selectOneMenu>
   	<br/>
  	délka stupně/min/sec:<br/>
  	<h:inputText id="GPSLongDegree" placeholder="LongitudeDegree" value="#{SearchBean.gpsLongDegree}" styleClass="gpsInput"/>
  	<h:inputText id="GPSLongMin" placeholder="LongitudeMin" value="#{SearchBean.gpsLongMin}" styleClass="gpsInput"/>
  	<h:inputText id="GPSLongSec" placeholder="LongitudeSec" value="#{SearchBean.gpsLongSec}" styleClass="gpsInput"/>
  	<h:selectOneMenu value="#{SearchBean.longitudeSelect}" styleClass="gpsSelect">
   		<f:selectItem itemValue="East" itemLabel="E" />
   		<f:selectItem itemValue="West" itemLabel="W" />
   	</h:selectOneMenu>
  	<br/>
  	<h:outputText id="output1" value="váha GPS #{SearchBean.gpsWeight}" />
  	<h:inputHidden id="txt1" value="#{SearchBean.gpsWeight}" />
  	<p:slider for="txt1" display="output1" displayTemplate="váha GPS {value}" id="gpsRange" styleClass="slider"/>
  	<br/><br/>
  	
	<!-- Datum =============================================================-->
  	<h:selectBooleanCheckbox name="dateCheck" value="#{SearchBean.dateFlag}" />
  	Datum:<br/> 
  	<h:panelGrid  >
  		<!--<p:outputLabel for="dateButton" value="Datum:" /><br/>-->
  		<p:calendar id="dateButton" value="#{SearchBean.date}" showOn="button" />
  	</h:panelGrid>
  	<p:dialog modal="true" resizable="false" header="Values" widgetVar="dlg" showEffect="fold">
  		<p:panelGrid id="display" columns="2" columnClasses="label,value">
  			<h:outputText value="Button:" />
  			<h:outputText value="#{SearchBean.date}">
    			<f:convertDateTime pattern="dd/MM/yyyy" />
    		</h:outputText>
  		</p:panelGrid>
  	</p:dialog>
  	<h:outputText id="output2" value="váha data #{SearchBean.dateWeight}" />
  	<h:inputHidden id="txt2" value="#{SearchBean.dateWeight}" />
  	<p:slider for="txt2" display="output2" displayTemplate="váha data {value}" id="dateRange"/>
  	<br/>
  
  	<!-- Lajky =============================================================-->
  	<h:selectBooleanCheckbox name="likesCheck" value="#{SearchBean.likeFlag}" />
  	Lajky:<br/>
  	<h:outputText id="output3" value="váha lajků #{SearchBean.likesWeight}" />
  	<h:inputHidden id="txt3" value="#{SearchBean.likesWeight}" />
  	<p:slider for="txt3" display="output3" displayTemplate="váha lajků {value}" id="likesRange"/>
  	<br/><br/>
  
  	<!-- Zhlédnutí =============================================================-->
  	<h:selectBooleanCheckbox name="viewsCheck" value="#{SearchBean.viewsFlag}" />
  	Zhlédnutí:<br/>
  	<h:outputText id="output4" value="váha lajků #{SearchBean.viewsWeight}" />
  	<h:inputHidden id="txt4" value="#{SearchBean.viewsWeight}" />
  	<p:slider for="txt4" display="output4" displayTemplate="váha zhlédnutí {value}" id="viewsRange"/>
  	<br/><br/>
  	<h:commandButton value="Rerank" action="#{SearchBean.rerank}" />
 </h:form>

 <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large">ZAVŘÍT</a>
    
</nav>

<!-- Top menu on small screens =============================================================-->
<header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding">Flickr - metadata-based reranking</span>
  <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT!  =============================================================-->

<div class="w3-main" >

<table>
  <tr><td>      
  <!-- Photo grid  =============================================================-->
  <div class="w3-row">
    <ui:repeat  rendered="#{SearchBean.urlList.size() gt 0}" value="#{SearchBean.urlList.subList(0, (SearchBean.urlList.size() gt 3) ? 3 : SearchBean.urlList.size())}" var="url" size="2">
	    <div class="w3-third">
	   		<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z prvnich 3 obrazku."></img>
	   	</div>	
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.urlList.size() gt 3}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 3) ? 3 : 0, (SearchBean.urlList.size() gt 6) ? 6 : SearchBean.urlList.size())}" var="url" size="2">
		<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z druhych 3 obrazku."></img>
	    </div>
	</ui:repeat>
    <ui:repeat rendered="#{SearchBean.urlList.size() gt 6}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 6) ? 6 : 0, (SearchBean.urlList.size() gt 9) ? 9 : SearchBean.urlList.size())}" var="url" size="2">
    	<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z tretich 3 obrazku."></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.urlList.size() gt 9}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 9) ? 9 : 0, (SearchBean.urlList.size() gt 12) ? 12 : SearchBean.urlList.size())}" var="url" size="2">
    	<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z ctvrtych 3 obrazku."></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.urlList.size() gt 12}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 12) ? 12 : 0, (SearchBean.urlList.size() gt 15) ? 15 : SearchBean.urlList.size())}" var="url" size="2">
    	<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z patych 3 obrazku."></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.urlList.size() gt 15}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 15) ? 15 : 0, (SearchBean.urlList.size() gt 18) ? 18 : SearchBean.urlList.size())}" var="url" size="2">
    	<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z sestych 3 obrazku."></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.urlList.size() gt 18}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 18) ? 18 : 0, (SearchBean.urlList.size() gt 21) ? 21 : SearchBean.urlList.size())}" var="url" size="2">
    	<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z sedmych 3 obrazku."></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.urlList.size() gt 21}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 21) ? 21 : 0, (SearchBean.urlList.size() gt 24) ? 24 : SearchBean.urlList.size())}" var="url" size="2">
    	<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z osmych 3 obrazku."></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.urlList.size() gt 24}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 24) ? 24 : 0, (SearchBean.urlList.size() gt 27) ? 27 : SearchBean.urlList.size())}" var="url" size="2">
    	<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z devatych 3 obrazku."></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.urlList.size() gt 27}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 27) ? 27 : 0, (SearchBean.urlList.size() gt 30) ? 30 : SearchBean.urlList.size())}" var="url" size="2">
    	<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z desatych 3 obrazku."></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.urlList.size() gt 30}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 30) ? 30 : 0, (SearchBean.urlList.size() gt 33) ? 33 : SearchBean.urlList.size())}" var="url" size="2">
    	<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z jedenactych 3 obrazku."></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.urlList.size() gt 33}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 33) ? 33 : 0, (SearchBean.urlList.size() gt 36) ? 36 : SearchBean.urlList.size())}" var="url" size="2">
    	<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z dvanactych 3 obrazku."></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.urlList.size() gt 36}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 36) ? 36 : 0, (SearchBean.urlList.size() gt 39) ? 39 : SearchBean.urlList.size())}" var="url" size="2">
    	<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z tinactych 3 obrazku."></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.urlList.size() gt 39}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 39) ? 39 : 0, (SearchBean.urlList.size() gt 42) ? 42 : SearchBean.urlList.size())}" var="url" size="2">
    	<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z tinactych 3 obrazku."></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.urlList.size() gt 42}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 42) ? 42 : 0, (SearchBean.urlList.size() gt 45) ? 45 : SearchBean.urlList.size())}" var="url" size="2">
    	<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z tinactych 3 obrazku."></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.urlList.size() gt 45}" value="#{SearchBean.urlList.subList((SearchBean.urlList.size() gt 45) ? 45 : 0, (SearchBean.urlList.size() gt 48) ? 48 : SearchBean.urlList.size())}" var="url" size="2">
    	<div class="w3-third">
	    	<img src="#{url}" onclick="onClick(this)" alt="Popisek obrazku z tinactych 3 obrazku."></img>
	    </div>
	</ui:repeat>
	
	
  </div>

  <!-- Pagination  =============================================================-->
  <!-- <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div> -->
  
  
  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image" />
      <p id="caption"></p>
    </div>
  </div>
  </td><td>
  <!-- Photo grid =============================================================-->
  <div class="w3-row">
    <ui:repeat  rendered="#{SearchBean.photoList.size() gt 0}" value="#{SearchBean.photoList.subList(0, (SearchBean.photoList.size() gt 3) ? 3 : SearchBean.photoList.size())}" var="photo" size="2">
	    <div class="w3-third">
	   		<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	   	</div>	
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.photoList.size() gt 3}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 3) ? 3 : 0, (SearchBean.photoList.size() gt 6) ? 6 : SearchBean.photoList.size())}" var="photo" size="2">
		<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
    <ui:repeat rendered="#{SearchBean.photoList.size() gt 6}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 6) ? 6 : 0, (SearchBean.photoList.size() gt 9) ? 9 : SearchBean.photoList.size())}" var="photo" size="2">
    	<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.photoList.size() gt 9}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 9) ? 9 : 0, (SearchBean.photoList.size() gt 12) ? 12 : SearchBean.photoList.size())}" var="photo" size="2">
    	<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.photoList.size() gt 12}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 12) ? 12 : 0, (SearchBean.photoList.size() gt 15) ? 15 : SearchBean.photoList.size())}" var="photo" size="2">
    	<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.photoList.size() gt 15}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 15) ? 15 : 0, (SearchBean.photoList.size() gt 18) ? 18 : SearchBean.photoList.size())}" var="photo" size="2">
    	<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.photoList.size() gt 18}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 18) ? 18 : 0, (SearchBean.photoList.size() gt 21) ? 21 : SearchBean.photoList.size())}" var="photo" size="2">
    	<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.photoList.size() gt 21}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 21) ? 21 : 0, (SearchBean.photoList.size() gt 24) ? 24 : SearchBean.photoList.size())}" var="photo" size="2">
    	<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.photoList.size() gt 24}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 24) ? 24 : 0, (SearchBean.photoList.size() gt 27) ? 27 : SearchBean.photoList.size())}" var="photo" size="2">
    	<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.photoList.size() gt 27}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 27) ? 27 : 0, (SearchBean.photoList.size() gt 30) ? 30 : SearchBean.photoList.size())}" var="photo" size="2">
    	<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.photoList.size() gt 30}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 30) ? 30 : 0, (SearchBean.photoList.size() gt 33) ? 33 : SearchBean.photoList.size())}" var="photo" size="2">
    	<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.photoList.size() gt 33}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 33) ? 33 : 0, (SearchBean.photoList.size() gt 36) ? 36 : SearchBean.photoList.size())}" var="photo" size="2">
    	<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.photoList.size() gt 36}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 36) ? 36 : 0, (SearchBean.photoList.size() gt 39) ? 39 : SearchBean.photoList.size())}" var="photo" size="2">
    	<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.photoList.size() gt 39}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 39) ? 39 : 0, (SearchBean.photoList.size() gt 42) ? 42 : SearchBean.photoList.size())}" var="photo" size="2">
    	<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.photoList.size() gt 42}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 42) ? 42 : 0, (SearchBean.photoList.size() gt 45) ? 45 : SearchBean.photoList.size())}" var="photo" size="2">
    	<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
	<ui:repeat rendered="#{SearchBean.photoList.size() gt 45}" value="#{SearchBean.photoList.subList((SearchBean.photoList.size() gt 45) ? 45 : 0, (SearchBean.photoList.size() gt 48) ? 48 : SearchBean.photoList.size())}" var="photo" size="2">
    	<div class="w3-third">
	    	<img src="#{photo.photo.largeUrl}" onclick="onClick(this)" alt="#{photo.totalScore}"></img>
	    </div>
	</ui:repeat>
	
  </div>

  <!-- Pagination =============================================================-->
  <!-- <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div> -->
  
  <!-- Modal for full size images on click-->
  <div id="modal02" class="w3-modal w3-black" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img02" class="w3-image" />
      <p id="caption2"></p>
    </div>
  </div>
  </td></tr>
  </table>
  
  <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div> 
<!-- End page content -->
</div>


<script type="text/javascript" src="./resources/js/skripty.js" ></script>
</h:body>
</f:view>
</html>