body,h1,h2,h3,h4,h5 {
	font-family: "Raleway", sans-serif
}

#mySidebar {
	
	z-index:3;
	width:300px;
	font-weight:bold;
	padding:30px;
}

.w3-third img{
	margin-bottom: -6px;
	opacity: 0.8; 
	cursor: pointer;
	width:100%;
	height: 150px;
  	background-position: center center;
  	background-repeat: no-repeat;
  	object-fit: cover;
}

.w3-third img:hover{
	opacity: 1
}

.w3-main {
	margin-left:300px
}

.w3-hide-large{
	margin-top:83px
}

#modal01{
	padding-top:0
}

#modal02{
	padding-top:0
}


#myOverlay {
    cursor: pointer
}

#gpsRangeValue{
	font-weight:bold;
	color:red
}

#likesRangeValue{
	font-weight:bold;
	color:red
}

#viewsRangeValue{
	font-weight:bold;
	color:red
}

.gpsSelect {
    width: 25%;
}

.gpsInput {
    width: 25%;
}

.ui-inputfield {
    width: 60%;
}