<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

</head>
<body>

		<h:form>
            <h:outputText value="Keyword"></h:outputText><br></br>
            <h:inputText value="#{searchBean.keyWord}" style="width: 100px;"></h:inputText><br></br>
            <h:commandButton value="Search" action="#{searchBean.search}"></h:commandButton>     <br></br>
            <h:inputText value="#{searchBean.gpsCoord}" style="width: 100px;">
<!--            		 <f:validateLongRange minimum="1" maximum="90" /> -->
            </h:inputText>
            <h:selectOneMenu value="#{searchBean.lattitudeSelect}">
   			<f:selectItem itemValue="South" itemLabel="N" />
   			<f:selectItem itemValue="North" itemLabel="S" />
   			</h:selectOneMenu>
   			<br></br>
            <h:inputText value="#{searchBean.gpsCoord}" style="width: 100px;">
<!--            		 <f:validateLongRange minimum="1" maximum="90" /> -->
            </h:inputText>
            <h:selectOneMenu value="#{searchBean.longitudeSelect}">
   			<f:selectItem itemValue="West" itemLabel="E" />
   			<f:selectItem itemValue="East" itemLabel="W" />
   			</h:selectOneMenu>
   			<br></br>
   			
            <h:selectBooleanCheckbox value="#{searchBean.gpsFlag}" /> GPS<br></br>
            <h:inputText value="#{searchBean.date}" style="width: 100px;"></h:inputText>
            <h:selectBooleanCheckbox value="#{searchBean.dateFlag}" /> date<br></br>
            <h:inputText value="#{searchBean.views}" style="width: 100px;"></h:inputText>
            <h:selectBooleanCheckbox value="#{searchBean.viewsFlag}" /> views<br></br>
            <h:inputText value="#{searchBean.likes}" style="width: 100px;"></h:inputText>
            <h:selectBooleanCheckbox value="#{searchBean.likeFlag}" /> like<br></br>
            
        </h:form>
</body>
</html>
